/* ARBOR style */
* {
    font-family: 'Lato', sans-serif;
    color: #3A616B;
  }
  
  html, body {
    height: 100%;
  }
  
  #titleBlock {
      display: inline-block;
      margin: 0;
      width: 100%;
      font-size: 1.4em;
      padding: 0.5%;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
  }
  
  #title {
    /* text-align: center; */
    box-sizing: border-box;
  }
  
  #orphaEuLogos {
    margin-right: 7%;
  }
  
  #orphaEuLogos img {
    margin-bottom: 10%;  
  }
  
  #orphaPhare {
    width: 45%; 
    display: inline-block;
  }
  
  /* div for database extract */
  #dateLabel {
    clear: left;
    width: 50%;
    padding: 1%;
    /*margin: auto;
    */box-sizing: border-box;
    line-height: 1;
    font-size: larger;
    text-align: center;
    margin-bottom: 1%;
  }
  
  /* Parameters for main input panel */
  #inputPanel {
      float: left;
      width: 102%;
      margin: auto;
      /* background-color: #61abfd; */
      background: linear-gradient(180deg, rgba(22,35,101,1) 0%, rgba(68,140,242,1) 89%, rgba(97,171,253,1) 100%);
      padding: 0.5%;
      box-sizing: border-box;
      line-height: 1.35;
      color: #fcfaf2;
      margin-left: -0.5%;
  }
  
  /* Parameters for the filter and linked data */
  #displayPanel {
      float: left;
      width: 50%;
      height: 80%;
      min-width:180px;
      /*background-color: #f0f0a0;*/
      box-sizing: border-box;
      text-align: center;
  }
  
