<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title | default('API RDcode') }}</title>
    <link rel="stylesheet" type="text/css" href="./static/swagger-ui.css" >
    <link rel="icon" type="image/png" href="favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon.ico" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
      #image_head
      {
        margin: 30px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    </style>
  </head>

  <body>
    <div id="image_head">
        <div></div>
        <div>
            <a href="https://www.orpha.net/consor/cgi-bin/index.php">
                <img src="./static/logo_orphanet_transp.png" alt="orphanet" height="50px";>
            </a>
            <!--<p style="text-align:center; margin: 0;">
                RDcode
            </p>-->
        </div>
        <div>
            <a href="http://www.rd-code.eu/">
                <img src="./static/rd_code.jpg" alt="rd_code" height="50px";>
            </a>
        </div>
        <div></div>
    </div>

    <div id="swagger-ui"></div>

    <script src="./static/swagger-ui-bundle.js"> </script>
    <script src="./static/swagger-ui-standalone-preset.js"> </script>
    <script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "{{ openapi_spec_url }}",
        validatorUrl: {{ validatorUrl | default('null') }},
        {% if configUrl is defined %}
        configUrl: "{{ configUrl }}",
        {% endif %}
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ]
      })
      // End Swagger UI call region

      window.ui = ui
    }
  </script>
  <br>
  </body>
</html>
